In [6]:
import pandas as pd
import json
from dataclasses import dataclass
import os
import shutil

In [8]:
df = pd.read_excel("Data/datos.xlsx") # type: ignore
df

,Unnamed: 0,Unnamed: 1,Patrimonio,Unnamed: 3,Unnamed: 4,Rendimiento,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Comisiones (Incluye IVA),Gastos con Cargo al Fondo
0,Fecha,NaN,Valor Cuota Diario,Patrimonio del Fondo,Cuotas de Participación,Diario,30 Días,90 Días,180 Días,360 Días,720 Días,Administración,Gastos US$
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US($),NaN
2,2018-01-10 00:00:00,NaN,1,200,200,0,NaN,NaN,NaN,NaN,-,0,0
3,2018-01-11 00:00:00,NaN,1.0004,13700,13694.602159,15.7162,0,0,0,0,-,0,0
4,2018-01-12 00:00:00,NaN,1.000412,115600,115552.668884,0.4271,0,0,0,0,-,0.47,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824,2025-10-02 00:00:00,NaN,1.283246,169474650.52,132067127.213422,4.4596,4.2919,4.4414,4.484,4.5285,-,5764.55,63.02
2825,2025-10-03 00:00:00,NaN,1.283398,170083007.28,132525501.89471,4.4191,4.286,4.4407,4.4836,4.5292,-,5803.92,63.02
2826,2025-10-04 00:00:00,NaN,1.28355,170103068.1,132525501.89471,4.3988,4.2737,4.4517,4.4829,4.5311,-,5824.76,63.02
2827,2025-10-05 00:00:00,NaN,1.283701,170123129.86,132525501.89471,4.3985,4.269,4.4563,4.4329,4.5307,-,5825.44,63.02
2828,2025-10-06 00:00:00,NaN,1.283853,169615943.4,132114787.849756,4.4088,4.2647,4.4564,4.4341,4.5304,-,5826.13,63.02

In [10]:
df = pd.read_excel('Data/datos.xlsx', header=1) # Leer la fila 2 como encabezados
df = df.loc[:, df.columns != 'Unnamed: 1']

df.isnull().sum() # Verificar valores nulos antes de eliminar

Fecha                        1
Valor Cuota Diario           1
Patrimonio del Fondo         1
Cuotas de Participación      1
Diario                       1
30 Días                      4
90 Días                      4
180 Días                    17
360 Días                   162
720 Días                     1
Administración               0
Gastos US$                   1
dtype: int64

## En caso sea necesario limpiar valores Nulos del Dataset

In [ ]:
#df.dropna() # Eliminar filas con cualquier valor nulo de todo el dataset

#df.dropna(subset=['Fecha','Valor Cuota Diario','Patrimonio del Fondo','Cuotas de Participación','Diario','30 Días',
#                  '90 Días','180 Días','360 Días','720 Días','Administración','Gastos US$'], inplace=True) # Eliminar filas con valores nulos en columnas críticas

#df.isnull().sum() # Verificar valores nulos antes de eliminar

In [12]:
df = df.drop(index=0) # Eliminar fila 3 (índice 2) si es necesario

In [13]:
df.head()

,Fecha,Valor Cuota Diario,Patrimonio del Fondo,Cuotas de Participación,Diario,30 Días,90 Días,180 Días,360 Días,720 Días,Administración,Gastos US$
1,2018-01-10,1.000000,200.0,200.000000,0.0000,NaN,NaN,NaN,NaN,-,0,0.0
2,2018-01-11,1.000400,13700.0,13694.602159,15.7162,0.0,0.0,0.0,0.0,-,0,0.0
3,2018-01-12,1.000412,115600.0,115552.668884,0.4271,0.0,0.0,0.0,0.0,-,0.47,0.0
4,2018-01-13,1.000382,115600.0,115552.668884,-1.0615,0.0,0.0,0.0,0.0,-,4.01,0.0
5,2018-01-14,1.000353,115600.0,115552.668884,-1.0616,0.0,0.0,0.0,0.0,-,4.01,0.0

In [ ]:
# Opcional ejecutar
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%d/%m/%Y', errors='coerce').dt.date # Convertir a datetime y luego a date
df.head()

,Fecha,Valor Cuota Diario,Patrimonio del Fondo,Cuotas de Participación,Diario,30 Días,90 Días,180 Días,360 Días,720 Días,Administración,Gastos US$
1,2018-01-10,1.000000,200.0,200.000000,0.0000,NaN,NaN,NaN,NaN,-,0,0.0
2,2018-01-11,1.000400,13700.0,13694.602159,15.7162,0.0,0.0,0.0,0.0,-,0,0.0
3,2018-01-12,1.000412,115600.0,115552.668884,0.4271,0.0,0.0,0.0,0.0,-,0.47,0.0
4,2018-01-13,1.000382,115600.0,115552.668884,-1.0615,0.0,0.0,0.0,0.0,-,4.01,0.0
5,2018-01-14,1.000353,115600.0,115552.668884,-1.0616,0.0,0.0,0.0,0.0,-,4.01,0.0

In [14]:
df.to_excel("Dist/output.xlsx", index=False)